<template name="uploadFile">
  <h2>Upload Photo</h2>
  {{#autoForm id="insertForm" type="insert" collection=Collections.Docs}}
  {{> afQuickField name="name"}}
  {{> afQuickField class="area" name="fileId" type="cfs-file" collection="files"}}
  <button type="submit" class="btn btn-primary">Submit</button>
  {{/autoForm}}

  <div class="fileArea">
  {{#if currentUser}}
  {{#each uploadedFiles}}
    <img src="{{this.url}}" alt="Photo" class="thumbnail" />
  {{/each}}
  {{/if}}
  </div>

</template>
